services:
  rabbitmq:
    image: rabbitmq:3-management
    environment: 
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    ports: 
      - "15672:15672"
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
  
  redis:
    image: redis:7-alpine
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval:  30s 
      timeout: 10s
      retries: 5
      start_period: 30s

  redis-commander:
    image: rediscommander/redis-commander
    ports:
      - "8080:8081"
    environment:
      - REDIS_HOSTS=${REDIS_HOST}

  celery_worker:
    build: .
    command: celery -A WorkerSchd worker --loglevel=info
    env_file: .env
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./data:/data 

  celery_beat:
    build: .
    command: celery -A WorkerSchd beat --loglevel=info
    env_file: .env
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      celery_worker:
        condition: service_healthy
    volumes:
      - ./data:/data 

volumes:
  rabbitmq_data:
  redis-data:


    
